In [4]:
import pandas as pd
import numpy as np

**Series**

*#Pandas Series - Like a Table Column - 1d Array*

In [9]:
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
print(my_var)

0     5
1     9
2    12
3    27
dtype: int64

*#Print specific value*

In [12]:
my_var[2]

12

*#Labels using index argument*

In [21]:
my_index = ["A", "B", "C", "D"]
my_var2 = pd.Series(my_series, index = my_index)
print(my_var2)

A     5
B     9
C    12
D    27
dtype: int64

In [23]:
my_var2["B"]

9

*#Key Dictionery*

In [26]:
cars = {"Tesla":12, "Mercedes":42, "BMW":3}
my_var3 = pd.Series(cars)
print(my_var3)

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [28]:
my_var3["Tesla"]

12